# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
recommanderai/
venv/
ENV/

# MLflow
mlruns/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Data
data/processed_user_item_interactions.csv
data/processed_data.csv

#cursor
cursor/
.cursor
.cursor/rules

.gitattributes

# all .pycache files
*.pyc
